*, body {
  font-family: 'Press Start 2P', cursive;
  font-weight: normal;
  font-style: normal;
  color: white;
  margin: 0;
  padding: 0;
}

a{
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  /*background: white; /*-webkit-linear-gradient(45deg, #ffef00, #ff3d3c, #5446e6 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

/*a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}*/

body {
  height: 5400px;
  width: 1920px;
  margin: 0;
  padding: 0;
  display: block;
  font-family: Verdana, sans-serif;
}

div{
  width: 100%;
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

img{
  vertical-align: middle;
}

h1{
  padding-top: 70px;
  padding-bottom: 70px;
}

p{
  padding-top: 20px;
  padding-bottom: 70px;
}

.buttonMI{
  padding: 10px 20px 10px 20px;
  border: solid #000000 3px;
}

.buttonBuy{
  padding: 10px 20px 10px 20px;
  border: solid #000000 3px;
  border-radius: 50px;
  background: red;
  text-decoration: none;
}

.social {
  margin: 0;
  padding: 0;
  width: 64px;
  position: fixed;
  top: 20%;
  right: 0;
  height: 100%;
  overflow: auto;
  text-align: center;
  animation-duration: 2s;
  animation-name: socialSlidein;
}

.topBar {
  position: fixed;
  width: 100%;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(rgba(40,17,69,1),rgba(40,17,69,0));
  animation-duration: 2s;
  animation-name: topBarSlidein;
}

.home {
  background-image: url("https://raw.githubusercontent.com/Johndyr055/MetaBitsV2/main/images/iluminacion.png"),
  url("https://raw.githubusercontent.com/Johndyr055/MetaBitsV2/main/images/puntos.png"),
  url("https://raw.githubusercontent.com/Johndyr055/MetaBitsV2/main/images/logoMedio.png"),
  url("https://raw.githubusercontent.com/Johndyr055/MetaBitsV2/main/images/arcades.png"),
  url("https://raw.githubusercontent.com/Johndyr055/MetaBitsV2/main/images/fondo.png");
  background-position: center, center, center, center, center;
  background-attachment: scroll;
  background-size: cover;
  animation-duration: 2s;
  background-color: black;
  animation-name: slidein;
}

.parrafoI{
  text-align: left;
}

.parrafoD{
  text-align: right;
}

.riot{
  width: 300px;
  height: 600px;
  float: left;
  margin-right: 20px;
}

.archie{
  width: 300px;
  height: 600px;
  float: right;
  margin-left: 20px;
}

.topBarMI{
  padding: 10px;
}

.topBarMI:hover {
  color: black;
  background-color: white;
}

.buttonMI:hover {
  color: black;
  background-color: white;
}

#s1{
  margin-bottom: 10px;
}
#s2{
  margin-bottom: 10px;
}
#s3{
  margin-bottom: 10px;
}
#s4{
  margin-bottom: 10px;
}
#s5{
  margin-bottom: 10px;
}

#aDonations{
  background-color: blue;
}

#aToken{
  background-color: brown;
}

#aRoadMap{
  background-color: red;
}

#aCharacters{
  background-color: green;
}

#aTeam{
  background-color: purple;
}

/*@font-face {
    font-family: 'press_start_2pregular';
    src: url('fonts/PressStart2P/pressstart2p-regular-webfont.woff2') format('woff2'),
         url('fonts/PressStart2P/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@keyframes slidein {
  from {
    background-size: 400%;
  }
  to {
    background-size: 100%;
  }
}
@keyframes socialSlidein {
  from {
    top: -50%;
  }
  to {
    top: 20%;
  }
}
@keyframes topBarSlidein {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}


/*@media screen and (max-width: 700px) {
  .social {
    width: 100%;
    height: auto;
    position: relative;
  }
  .social a {float: left;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}*/
